## Week 11a: SQLite database

In [ ]:
import sqlite3
import csv

#### Establish a connection

In [ ]:
con = sqlite3.connect('School.db') #, autocommit=False)
cursor = con.cursor()

#### Create a table

In [ ]:
create_table = """CREATE TABLE students(
                        id INTEGER PRIMARY KEY,
                        fname TEXT,
                        lname TEXT);
                """

cursor.execute(create_table)

#### Insert data

In [ ]:
cursor.execute("INSERT INTO students VALUES (387423, 'Patrick', 'Ramos')")

#### Query the table

In [ ]:
results = cursor.execute("SELECT * FROM students")

for res in results:
    print(res)

In [ ]:
results = cursor.execute("SELECT * FROM students").fetchall()
results

#### Close the connection

In [ ]:
con.commit()
con.close()

In [ ]:
results = cursor.execute("SELECT * FROM students").fetchall()
results

#### Reestablish connection

In [ ]:
new_con = sqlite3.Connection('School.db')#, autocommit=False)
new_cursor = new_con.cursor()

In [ ]:
results = new_cursor.execute("SELECT * FROM students").fetchall()
results

In [ ]:
new_con.close()

#### Redo with `commit`

#### Check if something is in process

In [ ]:
con.in_transaction

In [ ]:
con.total_changes

#### Insert data from csv

In [ ]:
con = sqlite3.connect('School.db')
cursor = con.cursor()

In [ ]:
with open("students_1.csv") as f:
    data = csv.reader(f)
    for row in data:
        print(row)
        if row[0]=='fname':
           continue
        cursor.execute("INSERT INTO students VALUES (?, ?, ?)", (int(row[2]), row[0], row[1]))

In [ ]:
drop_table = """DROP TABLE students"""
cursor.execute(drop_table)
con.commit()

In [ ]:
cursor.execute("select * from students")

#### Delete database

### Exercises

 - recreate the database called `School` with a table called `students`; add the `students_1.csv` data back into the table
 - add the students in the `students_2.csv` file to the `students` table in the database
 - in the `School` database, create a new table called `marks` and add the data in the `marks.csv`file to it

In [ ]:
import sqlite3
import csv

In [ ]:
con = sqlite3.connect('School.db') #, autocommit=False)
cursor = con.cursor()

In [ ]:
create_table = """CREATE TABLE students(
                        id INTEGER PRIMARY KEY,
                        fname TEXT,
                        lname TEXT);
                """

cursor.execute(create_table)

In [ ]:
with open("students_1.csv") as f:
    data = csv.reader(f)
    for row in data:
        print(row)
        if row[0]=='fname':
           continue
        cursor.execute("INSERT INTO students VALUES (?, ?, ?)", (int(row[2]), row[0], row[1]))

In [ ]:
results = cursor.execute("SELECT * FROM students").fetchall()
results

In [ ]:
con.commit()
con.close()

In [ ]:
con = sqlite3.connect("School.db")
cursor = con.cursor()

In [ ]:
with open("students_2.csv") as f:
    data = csv.reader(f)
    for row in data:
        print(row)
        if row[0]=='fname':
           continue
        cursor.execute("INSERT INTO students VALUES (?, ?, ?)", (int(row[2]), row[0], row[1]))

In [ ]:
results = cursor.execute("SELECT * FROM students").fetchall()
results

In [ ]:
con.commit()
con.close()

In [1]:
import sqlite3
import csv

In [2]:
con = sqlite3.connect('School.db') #, autocommit=False)
cursor = con.cursor()

In [ ]:
with open("marks.csv") as f:
    data = csv.reader(f)
    for row in data:
        print(row)
        if row[0]=='fname':
           continue
        cursor.execute("INSERT INTO students VALUES (?, ?, ?)", (int(row[2]), row[0], row[1]))

In [ ]:
results = cursor.execute("SELECT * FROM students").fetchall()
results

In [3]:
create_table = """CREATE TABLE marks1(
                        id INTEGER PRIMARY KEY,
                        Test_1 FLOAT,
                        Test_2 FLOAT,
                        Test_3 FLOAT);
                """

cursor.execute(create_table)

In [7]:
with open("marks.csv") as f:
    data = csv.reader(f)
    for row in data:
        print(row)
        if row[0]=='ID':
           continue
        cursor.execute("INSERT INTO marks1 VALUES (?, ?, ?, ?)", (int(row[0]), row[1], row[2], row[3]))

['ID', 'Test_1', 'Test_2', 'Test_3']
['387423', '31', '65', '76']
['657953', '38', '10', '75']
['264676', '26', '53', '58']
['705400', '12', '40', '69']
['399844', '3', '27', '80']
['669408', '4', '88', '90']
['211134', '80', '81', '55']
['518833', '32', '35', '29']
['962205', '58', '39', '74']
['660198', '69', '17', '12']
['122942', '58', '86', '77']
['223293', '75', '53', '60']
['329265', '91', '47', '42']
['174267', '95', '47', '79']
['650755', '76', '84', '22']
['380016', '1', '62', '61']
['677895', '20', '57', '89']
['253798', '17', '88', '16']
['400412', '87', '39', '86']
['784736', '8', '30', '74']

In [8]:
con.commit()
con.close()

In [1]:
10/5

2.0

In [3]:
try:
    print(5/0)
    break
except:
    print("Sorry, something went wrong...")
except (ValueError, ZeroDivisionError):
    print("Too bad...")

SyntaxError: 'break' outside loop (940286616.py, line 3)